body {
    background-color:rgb(192, 192, 164);
    margin: 5%;
    font-size: 12pt;
    color:black;
}

.act {
    background-color: olive;

}

.act li {
    display: inline-block;
    font-size: 18px;
    padding: 15px;

}

.act a:hover {
    background-color: lightblue;
    border-radius: 100%;
width: 4px;
    height: 6%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
}
.abou{
    grid-area: abou;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}